header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    color: aqua;
}

.app-body {
    background-color: #343a40;
}

.countdown {
    padding-top: 5rem;
    color: aqua;
}

.hide {
    display: none !important;
}

h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.start {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 80vh;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aqua;
}

#endgame {
    text-align: center;
    color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#finishedQuiz {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aqua;
    border: 10px;
    border-style: dotted;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

